body {
    background-color: #98817b;
    font-family: 'Righteous', cursive;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 300vh;
}

img { 
    max-width: 100%;
    max-height: auto;
} 

em {
    font-size: 40px;
    font-style: normal;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #98817b;
    height: 50px;

}

/* Navigation menu text */
nav a {
    color: #4b3621;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
}

/* Header element */
header{
    display: flex;
    position: relative;
    z-index: 2;
    max-height: 300px;
    opacity: 0.8;
}

/* The header elements text is centered */
.header-text {
    position: absolute;
    padding-left: 550px;
    padding-top: 5%;
    font-size: 50px;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: #98817b;
    text-shadow: 2px 2px 5px aqua;

}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    display: flex;
    position: absolute;
    min-width: 200px;
    min-height: 2000px;
    z-index: 4;
    top: 50px;
    color: aqua;
    font-size: 60px;
    letter-spacing: 10px;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

/* Section Element Photo */
.portrait {
    display: flex;
    position: absolute;
    flex-grow: 1;
    z-index: 3;
    top: 0;
    left: 0;
    max-width: 400px;
    max-height: auto;
}

img.my-photo {
    flex-wrap: wrap;
    border-radius: 60%;

}

/* Section Element About */
.about { 
    display: flex;

    /* position: absolute; */
    top: 350px;
    min-height: 300px;
}

h2 {
    flex: 0.25;
    z-index: 5;
    text-align: center;
    padding-left: 250px;
    color: #98817b;
    text-shadow: 2px 2px 5px aqua;
}

#about-text {
    flex: 2;
    text-align: justify;
    margin: 20px;
    font-size: 20px;
    font-style: normal;
    color:black;
    background-color: #98817b
}

/* Section Element Work */
.work {
    display: flex;
    /* position: absolute; */
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 300px;
    top: 600px;
    min-height: 300px;
}

h3 {
    flex: 0.25;
    z-index: 5;
    text-align: center;
    padding-right: 20px;
    color: #98817b;
    text-shadow: 2px 2px 5px aqua;

}

.large-img{
    flex: 2 0 900px;
    padding: 20px;
    height: auto;
}

.work-img {
    flex: 0 0 400px;
    /* object-fit: scale-down; */
    padding: 10px;
    height: auto;
}

@media (max-width:768px) {
    /* main,
    header,
    nav, */
    aside {
        font-size: smaller;
    }
    .portrait {
        max-width: 100px;
    }
    .about {
        flex-direction: column;
        padding: 40px;
    }

    em {
        writing-mode: horizontal-tb;
    }

    .work {
        flex-direction: column;
    }

}