
/* Background image for the whole page */
body {
    background: url(../assets/pexels-gdtography-911738.jpg) no-repeat center center fixed;
    background-size: cover;
}

/* Pages main body */
main {
    background-color: #ffffff;
    border-radius: 50px;
    font-family: 'Righteous', cursive;
    margin: 100px;
    display: flex;
    flex-direction: column;
}

/* All images to fit their containers */
img { 
    max-width: 100%;
} 

/* Main body about, work, contact titles */
em {
    font-size: 30px;
    font-style: normal;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    padding: 10px;
    color: #585885;
    text-shadow: 2px 2px 5px #000080;
}

nav {
    display: flex;
    justify-content: flex-end;
    height: 50px;
    padding-right: 10px;
}

/* Navigation menu text */
nav a {
    color: #7e7e7e;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
}

/* Header element */
header{
    display: flex;
    flex-shrink: 2;
    position: relative;
    z-index: 2;
    min-height: 200px;
    opacity: 0.8;
    margin-bottom: 100px;
}

/* This is the main body, including about, work, contact */
.main {
    display: inline-block;
    flex-wrap: wrap;
    background-color: #cacaca;
    border-radius: 0 0 50px 50px;
}

/* Photo section classes */
.portrait {
    display: flex;
    position: absolute;
    flex-grow: 1;
    z-index: 3;
    top: 0;
    left: 0;
    max-width: 400px;
    max-height: auto;
}

.my-photo {
    border-radius: 60%;
}

/* The header text postioned over the banner */
.header-text {
    position: absolute;
    flex: 1 1 100%;
    top: 30px;
    left: 350px;
    font-size: 50px;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: #67679a;
    text-shadow: 2px 2px 5px white;

}

/* About me section classes */
.about { 
    display: flex;
    min-height: 300px;
    padding-right: 45px;
    padding-bottom: 20px; 
}

.about-contain {
    z-index: 4;
    text-align: center;
}

#about-text {
    flex: 1 1 auto;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    font-style: normal;
    color: #7e7e7e;
    border-radius: 50px;
    box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
    -webkit-box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
    -moz-box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
    
}

/* Work section classes */
.work {
    display: flex;
    top: 600px;
    min-height: 300px;
    padding-right: 45px;
}

.work-content {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    border: white;
    border-radius: 50px;
    box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
    -webkit-box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
    -moz-box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
}

.work-content img {
    border-radius: 50px;
}

.work-content a {
    text-decoration: none;
    color: #424242;
}

#work-img {
    flex: 2 2 100%;
    flex-wrap: wrap;
    padding: 10px;
    height: auto;
    text-align: center;
}
.work-imgs {
    flex: .5 2 30%;
    flex-wrap: wrap;
    padding: 10px;
    height: auto;
    text-align: center;
}

/* Content section classes and ID's */
#contact {
    display: flex;
    background-color: #cacaca;
    color: #424242;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 45px;
    border-radius: 0 0 50px 50px;
}

#contact div {
    flex: 100%;
    flex-wrap: wrap;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
    -webkit-box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
    -moz-box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
    text-align: center;
}

/* All media queries when page is less than 800px */
@media (max-width:900px) {
    .portrait {
        max-width: 100px;
    }
    .about {
        flex-direction: column;
        padding: 40px;
    }
    .header-text {
        position: absolute;
        left: 50px;
        font-size: 30px;
    
    }
    em {
        writing-mode: horizontal-tb;
    }
    .work {
        flex-direction: column;
        padding: 40px;
    }
    #contact {
        flex-direction: column;
        padding: 40px;
    } 
    #contact div, nav a {
        font-size: smaller;
    }

}
