
/* Background image for the whole page */
body {
    background: url(../assets/pexels-gdtography-911738.jpg) no-repeat center center fixed;
    background-size: cover;
}

/* Pages main body */
main {
    background-color: white;
    border-radius: 50px;
    font-family: 'Righteous', cursive;
    margin: 100px;
    display: flex;
    flex-direction: column;
    /* min-height: 300vh; */
}

/* All images to fit their containers */
img { 
    max-width: 100%;
} 

/* Main body about, work, contact titles */
em {
    font-size: 40px;
    font-style: normal;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px aqua;
}

nav {
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

/* Navigation menu text */
nav a {
    color: rgb(73, 73, 73);
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
}

/* Header element */
header{
    display: flex;
    position: relative;
    z-index: 2;
    min-height: 300px;
    opacity: 0.8;
    margin-bottom: 100px;
}

/* This is the main body, including about, work, contact */
.main {
    display: inline-block;
    flex-wrap: wrap;
    background-color: gray;
    
}

/* Photo section classes */
.portrait {
    display: flex;
    position: absolute;
    flex-grow: 1;
    z-index: 3;
    top: 0;
    left: 0;
    max-width: 400px;
    max-height: auto;
}

.my-photo {
    border-radius: 60%;
}

/* The header text postioned central to the banner */
.header-text {
    position: absolute;
    top: 90px;
    left: 300px;
    font-size: 50px;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: gray;
    text-shadow: 2px 2px 5px aqua;

}

/* About me section classes */
.about { 
    display: flex;
    min-height: 300px; 
}

.about-contain {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px aqua;
}

#about-text {
    flex: 1 1 auto;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    font-style: normal;
    color:black;
    border-radius: 50px;
    box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
    -webkit-box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
    -moz-box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
    
}

/* Work section classes */
.work {
    display: flex;
    top: 600px;
    min-height: 300px;
}

.work-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: white;
    border-radius: 50px;
    box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
    -webkit-box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
    -moz-box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
}

.work-content img {
    border-radius: 50px;
}

#work-imgs {
    flex: 2 2 100%;
    flex-wrap: wrap;
    padding: 10px;
    height: auto;
}
.work-imgs {
    flex: 1 1 30%;
    flex-wrap: wrap;
    padding: 10px;
    height: auto;
}

/* Content section classes and ID's */
#contact {
    display: flex;
    background-color: gray;
}

#contact div {
    flex: 100%;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
    -webkit-box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
    -moz-box-shadow: 1px 1px 18px 12px rgba(118,125,125,0.76);
}

/* All media queries when page is less than 800px */
@media (max-width:800px) {

    .portrait {
        max-width: 100px;
    }
    .about {
        flex-direction: column;
        padding: 40px;
    }

    .header-text {
        position: absolute;
        left: 50px;
        font-size: 30px;
    
    }

    em {
        writing-mode: horizontal-tb;
    }

    .work {
        flex-direction: column;
        padding: 40px;
    }

    #contact {
        flex-direction: column;
        padding: 40px;
    } 

}